@model Product


<a asp-action="Index">voltar para o menu principal</a>
<br>
<br>

<table class="table">
	

	<tbody>
		<tr>
			<td>Id:</td>
			<td>@Model.Id</td>
		</tr>
		<tr>
			<td>Title:</td>
			<td>@Model.Title</td>
		</tr>

		<tr>
			<td>Description:</td>
			<td>@Model.Description</td>
		</tr>

		<tr>
			<td>ISBN:</td>
			<td>@Model.ISBN</td>
		</tr>

		<tr>
			<td>Author:</td>
			<td>@Model.Author</td>
		</tr>

		<tr>
			<td>ListPrice:</td>
			<td>@Model.ListPrice</td>
		</tr>

		<tr>
			<td>Price:</td>
			<td>@Model.Price</td>
		</tr>

		<tr>
			<td>Price50:</td>
			<td>@Model.Price50</td>
		</tr>

		<tr>
			<td>Price100:</td>
			<td>@Model.Price100</td>
		</tr>
	</tbody>

</table>

