@model Product


<a asp-action="Index">voltar para o menu principal</a>
<br>
<br>
<br>
<br>

<table>
	<tr>
		<td>Id:</td>
		<td>@Model.Id.ToString()</td>
	</tr>

	<tr>
		<td>Title:</td>
		<td>@Model.Title.ToString()</td>
	</tr>

	<tr>
		<td>Description:</td>
		<td>@Model.Description.ToString()</td>
	</tr>

	<tr>
		<td>ISBN:</td>
		<td>@Model.ISBN.ToString()</td>
	</tr>

	<tr>
		<td>Author:</td>
		<td>@Model.Author.ToString()</td>
	</tr>

	<tr>
		<td>ListPrice:</td>
		<td>@Model.ListPrice.ToString()</td>
	</tr>

	<tr>
		<td>Price:</td>
		<td>@Model.Price.ToString()</td>
	</tr>

	<tr>
		<td>Price50:</td>
		<td>@Model.Price50.ToString()</td>
	</tr>

	<tr>
		<td>Price100:</td>
		<td>@Model.Price100.ToString()</td>
	</tr>

</table>



<h1><strong>Depois eu faço essa pagina e.e</strong></h1>